/*
 *	Created by Trevor Sears <trevorsears.main@gmail.com>.
 *	4:18 PM -- October 08th, 2018.
 *	Website: dashboard.ampelfeedback.com
 */

@import "minification";
@import "resources";

$headers: h1, h2, h3, h4, h5, h6;

html, body {
	
	// Display & Box Model
	height: 100%;
	width: 100%;
	
	// To prevent iOS 'scroll bouncing'.
	position: fixed;
	overflow: hidden;
	
}