/*
 *	Created by Trevor Sears <trevorsears.main@gmail.com>.
 *	4:18 PM -- October 08th, 2018.
 *	Website: dashboard.ampelfeedback.com
 */

@import "resources";

$headers: h1, h2, h3, h4, h5, h6;

* {
	
	// Positioning
	margin: 0;
	padding: 0;
	
	// Remove various browser stylings.
	-webkit-appearance: none;
	-moz-appearance: none;
	-webkit-tap-highlight-color: transparent;
	
}

html, body {
	
	// Display & Box Model
	height: 100%;
	width: 100%;
	
	// To prevent iOS 'scroll bouncing'.
	position: fixed;
	overflow: hidden;
	
}