/*
 *	Created by Trevor Sears <trevorsears.main@gmail.com>.
 *	1:01 PM -- February 10th, 2019.
 *	Website: dashboard.ampelfeedback.com
 */

* {
	
	// Positioning
	margin: 0;
	padding: 0;
	
}

button, input {
	
	-webkit-appearance: none;
	
}